/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    background-color: rgb(47, 45, 45);
    padding:25px 60px;
    display: flex;
    justify-content: space-between;
    color:white;
}
.cart{
    background-color: white;
    color:#212529;
    font-size:60px;
    border-radius: 5px;
    position: relative;
}
.cartamount{
    font-size: 16px;
    position: absolute;
    top:-15px;
    right:-10px;
    background-color: red;
    color:white;
    padding:3px;
    border-radius: 3px;

}
img{
    width:220px;
}
.shop{
    display: grid;
    grid-template-columns: repeat(4,223px);
    margin:5px;
    justify-content: center;
    gap:10px;
}
.item{
    border:2px solid black;
    border-radius: 4px;
}
.details{
    padding: 0px 13px;
}

